body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/* STYLING THE HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  padding: 40px 400px;
  z-index: 1000;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
}
header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  font-weight: 500px;
  padding: 15px 15px;
}
.active-btn,
ul li a:hover {
  background: rgb(149, 174, 175);
}

.sticky {
  padding: 5px 100px;
  background: rgb(15, 27, 29);
  opacity: 0.7;
  transition: 0.6s;
}

.sticky ul li a {
  color: rgb(255, 245, 245);
  font-weight: bolder;
}

/* END OF HEADER */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("showcase1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("showcase2.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("showcase3.jpg");
  min-height: 800px;
}

.bg-dark {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.bg-light {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
.light-text {
  text-align: center;
  color: #f7f7f7;
}
.border {
  font-size: 25px;
  color: #f7f7f7;
}
h3,
p {
  text-align: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.footer {
  background: #333;
  color: #fff;
  height: 40px;
}
.center {
  text-align: center;
  padding: 30px 0;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }

  header {
    padding: 20px 0px;
    margin: 0;
  }

  header ul li a {
    padding: 2px 1px;
    font-weight: none;
    font-size: 14px;
  }
  .sticky {
    padding: 2px 2px;
    font-weight: none;
  }
}
